html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: aliceblue;
  background-attachment: scroll;
  background-image:
		url("../img/overlay.png"),
		url("../img/bgimg.jpg");
  background-position: top left, top left;
  background-repeat: repeat, no-repeat;
  background-size: auto, 150%;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 8em 4em;
  position: fixed;
  overflow-y: auto;
  text-align: right;
  top: 0;
  width: 35%;
}

#header > * {
  flex-shrink: 0;
  width: 100%;
}

#header > .inner {
  flex-grow: 1;
  margin: 0 0 2em 0;
}

#header h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.35em;
  line-height: 1.75em;
  margin: 0;
}

/* Footer */
/* Icons */

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1rem 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

.icons {
  margin: 1rem 0 0 0;
}

.icons a {
  color: rgba(255, 255, 255, 0.4);
}

#footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8rem;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.25);
  display: inline-block;
  line-height: 1rem;
  margin-left: 0.75rem;
  padding-left: 0.75rem;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright li a {
  color: inherit;
}

#main {
  margin-left: 35%;
  max-width: 54rem;
  padding: 8rem 4rem 4rem 4rem;
  width: calc(100% - 35%);
}

#main > section {
  border-top: solid 2px #efefef;
  margin: 4rem 0 0 0;
  padding: 4rem 0 0 0;
}

#main > section:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

/* Large */
@media screen and (max-width: 1280px) {
  /* Header */
  #header {
    padding: 6em 3em 3em 3em;
    width: 30%;
  }
  
	#header h1 {
    font-size: 1.25em;
  }
  
	#header h1 br {
    display: none;
  }
  
	#header>.inner {
    margin-bottom: 0;
  }
  
	/* Footer */
  #footer .copyright li {
    border-left-width: 0;
    display: block;
    line-height: 2.25em;
    margin-left: 0;
    padding-left: 0;
  }
  
	/* Main */
  #main {
    margin-left: 30%;
    max-width: none;
    padding: 6em 3em 3em 3em;
    width: calc(100% - 30%);
  }
}

/* Medium */
@media screen and (max-width: 980px) {
  /* Basic */
  h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
    display: none;
  }
  
	/* List */
  ul.icons li .icon {
    font-size: 1.25em;
  }
  
	/* Header max-width: 980px */
  #header {
    background-attachment: scroll;
    background-position: top left, center center;
    background-size: auto, cover;
    left: auto;
    padding: 6em 4em;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    display: block;
  }
  
	/* Footer max-width: 980px */
  #footer {
    background-attachment: scroll;
    background-color: #1f1815;
    background-image:
      url("../img/overlay.png"),
      url("../img/bgimg.jpg");
    background-position: top left, bottom -50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    bottom: auto;
    left: auto;
    padding: 4rem 4rem 6rem 4rem;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
	#footer .icons {
    margin: 0 0 1em 0;
  }
  
	#footer .copyright {
    margin: 0 0 1em 0;
  }
  
	#footer .copyright li {
    border-left-width: 1px;
    display: inline-block;
    line-height: 1em;
    margin-left: 0.75em;
    padding-left: 0.75em;
  }
}

